{% extends 'base.html' %}
{% block title %}Post Edition{% endblock %}
{% block body %}
<div class="row">
  <h1 class="text-center">Edit Post</h1>
    <div class="form-group">
    {{ form.type.label }}
    {% if form.type.errors %}
    {% for e in form.type.errors %}
    <p class="help=block" style="color=red">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.type(class_="form-control", value="{{ form.type }}") }}
    </div>
    <div class="form-group">
    {{ form.title.label }}
    {% if form.title.errors %}
    {% for e in form.title.errors %}
    <p class="help=block" style="color=red">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.title(class_="form-control", value="{{ form.title }}") }}
    </div>
    <div class="text_group">
    {{ form.text.label }}
    {% if form.text.errors %}
    {% for e in form.text.errors %}
    <p class="help=block" style="color=red">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.text(class_="form-control", value="{{ form.text }}") }}
    </div>
    <div class="image_group">
    {{ form.image.label }}
    {% if form.image.errors %}
    {% for e in form.image.errors %}
    <p class="help=block" style="color=red">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.image(class_="form-control", value="{{ form.image }}") }}
    </div>
    <div class="viceo_group">
    {{ form.video.label }}
    {% if form.video.errors %}
    {% for e in form.video.errors %}
    <p class="help=block" style="color=red">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.video(class_="form-control", value="{{ form.video }}") }}
    </div>
    <div class="author_group">
    {{ form.author.label }}
    {% if form.author.errors %}
    {% for e in form.author.errors %}
    <p class="help=block" style="color=red">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.author(class_="form-control", value="{{ form.author }}") }}
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
{% endblock %}

{% block js %}
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
    $(function () {
        $("#image_group").hiden();
        $("#video_group").hiden();
        $("#author_group").hiden();
        $("#type").on("change", function () {
            switch ($(this).val) {
                case "blog":
                    $("#text_group").show();
                    $("#image_group").hide();
                    $("#video_group").hide();
                    $("#author_group").hide();
                    break;
                case "image":
                    $("#text_group").hide();
                    $("#image_group").show();
                    $("#video_group").hide();
                    $("#author_group").hide();
                    break;
                case "video":
                    $("#text_group").hide();
                    $("#image_group").hide();
                    $("#video_group").show();
                    $("#author_group").hide();
                    break;
                case "quote":
                    $("#text_group").hide();
                    $("#image_group").hide();
                    $("#video_group").hiden();
                    $("#author_group").show();
                    break;
            }
        });
    })
</script>
{% endblock %}
