{% extends 'base.html' %}
{% import 'bootstrap/wtform.html' as wtf %}
{% block title %}Post Creation{% endblock %}
{% block body %}
<div class="row">
  <h1 class="text-center">Create A New Post</h1>
  <form method="POST" action="{{ url_for('.new_post') }}">
      {{ wtf.quick_form(form) }}
    <!-- <input class="btn btn-primary" type="submit" value="Submit"> -->
  </form>
</div>
{% endblock %}

{% block js %}
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
<script>CKEDITOR.replace('editor');</script>
{% endblock %}
