{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Post{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <article>
      <title><strong>{{ post.title }}</strong></title>
      {{ post.text | safe }}
    </article>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <p>Written By <a href="{{ url_for('.user', username=post.user.username) }}">
      {{ post.user.username }}</a> on
    {% if post.update_date %}
      {{ post.update_date }}
    {% else %}
      {{ post.publish_date }}
    {% endif %}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    <a href="{{ url_for('.edit_post', id=post.id) }}" class="btn btn-primary">Edit</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>{{ comment.name }}</p>
    <p>{{ comment.text | safe }}</p>
    <p>Written By
    <a href="{{ url_for('.user', username=comment.user.username) }}"> {{ comment.user.username }}
    </a> on
      {{ comment.date }}
    </p>
    {% endfor %}
  </div>
</div>
<div class="row">
<div class="col-lg-12">
  <h3>New Comment:</h3>
  <form method="POST" action="{{ url_for('.post', post_id=post.id) }}">
      {{ wtf.quick_form(form) }}
    <!-- <input class="btn btn-primary" type="submit" value="Add Comment"> -->
  </form>
</div>
</div>
{% endblock %}
